<div class="container mx-auto p-6">
    <h2 class="text-2xl font-bold mb-4">Product Management</h2>

    <div class="space-y-4">
        <div class="bg-gray-100 p-4 rounded-lg">
            <button class="w-full text-left text-lg font-semibold" (click)="toggleCategory('jackets')">
                Jackets
            </button>

            <div id="jackets" class="overflow-x-auto" [ngClass]="{'hidden': !isCategoryVisible('jackets')}">
                <table class="min-w-full bg-white border border-gray-200 mt-2">
                    <thead>
                        <tr class="bg-gray-100 border-b">
                            <th class="py-2 px-4 border">Image</th>
                            <th class="py-2 px-4 border">Name</th>
                            <th class="py-2 px-4 border">Price</th>
                            <th class="py-2 px-4 border">Stock</th>
                            <th class="py-2 px-4 border">Category</th>
                            <th class="py-2 px-4 border">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of filteredJackets" class="border-b">
                            <td class="py-2 px-4 border">
                                <img [src]="product.images[0].url" [alt]="product.name" class="h-12 object-cover">
                            </td>
                            <td class="py-2 px-4 border">{{ product.name }}</td>
                            <td class="py-2 px-4 border">{{ product.price }} SEK</td>
                            <td class="py-2 px-4 border">{{ product.stock }}</td>
                            <td class="py-2 px-4 border">{{product.categoryType}}</td>
                            <td class="py-2 px-4 border">
                                <button class="bg-blue-500 text-white px-2 py-1 rounded" (click)="openEditCard(product)">
                                    Update
                                </button>
                                <div class="modal-overlay" *ngIf="isEditCardVisible">
                                    <div class="modal">
                                        <app-edit-prod-card *ngIf="selectedProduct"
                                                            [editedProduct]="selectedProduct"
                                                            (saveChanges)="updateProduct($event)"
                                                            (cancelEdit)="closeEditCard()">
                                        </app-edit-prod-card>
                                    </div>
                                </div>
                                <button class="bg-red-500 text-white px-2 py-1 rounded ml-2" (click)="deleteProduct(product.productId, product.name)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bg-gray-100 p-4 rounded-lg">
            <button class="w-full text-left text-lg font-semibold" (click)="toggleCategory('boots')">Boots</button>
            <div id="jackets" class="overflow-x-auto" [ngClass]="{'hidden': !isCategoryVisible('boots')}">
                <table class="min-w-full bg-white border border-gray-200 mt-2">
                    <thead>
                        <tr class="bg-gray-100 border-b">
                            <th class="py-2 px-4 border">Image</th>
                            <th class="py-2 px-4 border">Name</th>
                            <th class="py-2 px-4 border">Price</th>
                            <th class="py-2 px-4 border">Stock</th>
                            <th class="py-2 px-4 border">Category</th>
                            <th class="py-2 px-4 border">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of filteredBoots" class="border-b">
                            <td class="py-2 px-4 border">
                                <img [src]="product.images[0].url" [alt]="product.name" class="h-12 object-cover">
                            </td>
                            <td class="py-2 px-4 border">{{product.name}}</td>
                            <td class="py-2 px-4 border">{{product.price}}</td>
                            <td class="py-2 px-4 border">{{product.stock}}</td>
                            <td class="py-2 px-4 border">{{product.categoryType}}</td>
                            <td class="py-2 px-4 border">
                                <button class="bg-blue-500 text-white px-2 py-1 rounded" (click)="openEditCard(product)">Update</button>
                                <div class="modal-overlay" *ngIf="isEditCardVisible">
                                    <div class="modal">
                                        <app-edit-prod-card *ngIf="selectedProduct"
                                                            [editedProduct]="selectedProduct"
                                                            (saveChanges)="updateProduct($event)"
                                                            (cancel)="closeEdit()">
                                        </app-edit-prod-card>
                                    </div>
                                </div>
                                <button class="bg-red-500 text-white px-2 py-1 rounded ml-2" (click)="deleteProduct(product.productId, product.name)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="bg-gray-100 p-4 rounded-lg">
            <button class="w-full text-left text-lg font-semibold" (click)="toggleCategory('pants')">Pants</button>
            <div id="pants" class="overflow-x-auto" [ngClass]="{'hidden': !isCategoryVisible('pants')}">
                <table class="min-w-full bg-white border border-gray-200 mt-2">
                    <thead>
                        <tr class="bg-gray-100 border-b">
                            <th class="py-2 px-4 border">Image</th>
                            <th class="py-2 px-4 border">Name</th>
                            <th class="py-2 px-4 border">Price</th>
                            <th class="py-2 px-4 border">Stock</th>
                            <th class="py-2 px-4 border">Category</th>
                            <th class="py-2 px-4 border">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of filteredPants" class="border-b">
                            <td class="py-2 px-4 border">
                                <img [src]="product.images[0].url" [alt]="product.name" class="h-12 object-cover">
                            </td>
                            <td class="py-2 px-4 border">{{product.name}}</td>
                            <td class="py-2 px-4 border">{{product.price}}</td>
                            <td class="py-2 px-4 border">{{product.stock}}</td>
                            <td class="py-2 px-4 border">{{product.categoryType}}</td>
                            <td class="py-2 px-4 border">
                                <button class="bg-blue-500 text-white px-2 py-1 rounded" (click)="openEditCard(product)">Update</button>
                                <div class="modal-overlay" *ngIf="isEditCardVisible">
                                    <div class="modal">
                                        <app-edit-prod-card *ngIf="selectedProduct"
                                                            [editedProduct]="selectedProduct"
                                                            (saveChanges)="updateProduct($event)"
                                                            (cancel)="closeEditCard()">
                                        </app-edit-prod-card>
                                    </div>
                                </div>
                                <button class="bg-red-500 text-white px-2 py-1 rounded ml-2" (click)="deleteProduct(product.productId , product.name)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- asdasd save point -->
    <div class="mt-6 p-4 bg-gray-100 rounded-lg">
        <h3 class="text-lg font-semibold mb-2">Add New Product</h3>
        <input [(ngModel)]="newProduct.name" required placeholder="Product Name"
               class="border rounded p-2 w-full mb-2">

        <input [(ngModel)]="newProduct.price" type="number" min="0.01" step="0.01" required
               placeholder="Price" class="border rounded p-2 w-full mb-2">

        <input [(ngModel)]="newProduct.stock" type="number" min="0" required
               placeholder="Stock" class="border rounded p-2 w-full mb-2">

        <input [(ngModel)]="newProduct.images[0].url" placeholder="Image URL (optional)"
               class="border rounded p-2 w-full mb-2">

        <input [(ngModel)]="newProduct.categoryId" type="number" min="1" required
               placeholder="Category ID" class="border rounded p-2 w-full mb-2">

        <button (click)="addProduct()" class="w-full bg-green-500 text-white py-2 rounded">Add Product</button>
    </div>
</div>
