
<div class="hidden lg:grid xl:grid-cols-3 xl:grid-rows-3 place-items-center -translate-y-10 ">
    <!-- First Image -->
    <div class="lg:row-start-1 lg:col-start-1 translate-y-10">
        <img class="h-auto max-w-[200px] rounded-lg" src="https://res.cloudinary.com/dm3vmtten/image/upload/v1735996359/DALL_E_2024-09-30_15.33.07_-_A_product_photo_of_a_single_high-quality_winter_jacket_displayed_on_a_clean_white_background._The_jacket_is_dark_blue_insulated_for_cold_weather_wi_pgsctq.webp" alt="">
    </div>

    <!-- Second Image -->
    <div class="lg:row-start-2 lg:col-start-2 -translate-y-20 translate-x-20 2xl:translate-x-0 ">
        <img class="h-auto max-w-[200px] rounded-lg " src="https://res.cloudinary.com/dm3vmtten/image/upload/v1735996359/DALL_E_2024-09-30_15.33.20_-_A_product_photo_of_a_single_high-quality_wind_jacket_displayed_on_a_clean_white_background._The_wind_jacket_is_lightweight_dark_blue_made_of_wind-r_uvvyj0.webp" alt="">
    </div>

    <!-- Third Image -->
    <div class="lg:row-start-3 opacity-0 2xl:opacity-100  lg:col-start-3 -translate-y-52">
        <img class="h-auto max-w-[200px] rounded-lg" src="https://res.cloudinary.com/dm3vmtten/image/upload/v1735996359/DALL_E_2024-09-30_15.33.12_-_A_product_photo_of_a_single_high-quality_wind_jacket_displayed_on_a_clean_white_background._The_jacket_is_dark_blue_lightweight_and_made_entirely_o_q6jqdw.webp" alt="">
    </div>
</div>
